version: '3.8'

services:
  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    ports:
      - "8086:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=admin123
      - DOCKER_INFLUXDB_INIT_ORG=NetworkOrg
      - DOCKER_INFLUXDB_INIT_BUCKET=NetworkBucket
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=my-influxdb-token
    volumes:
      - influxdb_data:/var/lib/influxdb2

  grafana:
    image: grafana/grafana:10.4.0
    container_name: grafana
    user: "472"
    ports:
      - "3000:3000"
    depends_on:
      - influxdb
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - grafana_data:/var/lib/grafana

  analyzer:
    build:
      context: .
      dockerfile: ./analyzer/Dockerfile
    container_name: network_analyzer
    depends_on:
      - influxdb
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./config:/app/config
      - ./analyzer:/app/analyzer
      - ./files:/app/files
    command: ["uvicorn", "analyzer.main:app", "--host", "0.0.0.0", "--port", "8000"]

volumes:
  influxdb_data:
  grafana_data:
